@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: #000000;
  color: #ffffff;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
