@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: #000000;
  color: #ffffff;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@keyframes walk-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.walk-up-down {
  animation: walk-up-down 2.5s ease-in-out infinite;
}

@keyframes walk-horizontal {
  0% {
    transform: translate(-20%, 17px);
  }
  100% {
    transform: translate(1000%, 17px);
  }
}

.walk-horizontal {
  animation: walk-horizontal 60s linear infinite;
}
